<section>
    <div class="page-header">
        <h1>
            Add new Hotel
        </h1>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="panel-title pull-left">
                <h4>Add new Hotel room</h4>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-5">
			        <div class="form-group">
			            <label for="room-select">Hotel Chain:</label> <select
			                class="form-control" id="room-select"
			                data-ng-init="vm.listHotelChains()" data-ng-model="vm.hotelChain"
			                data-ng-options="item.name for item in vm.hotelChains">
			            </select>
			        </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label label-reference col-md-1">Name:</label>
                    <input type="text" ng-model='vm.name' id="slotStartDateInput" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label label-reference col-md-1">City:</label>
                    <input type="text" ng-model='vm.city' id="slotStartDateInput" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label label-reference col-md-1">Post Code:</label>
                    <input type="text" ng-model='vm.postcode' id="slotStartDateInput" class="form-control" />
                </div>
            </div>
            
            <div class="row">
                <div class="form-group col-md-2 col-md-offset-5">
                     <button class="btn btn-primary btn-lg" ng-click="vm.onClickSubmitButton()">
                        <span class="glyphicon glyphicon-search"></span>
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>