<section>
    <div class="page-header">
      <h2>New reservation</h2>
    </div>
    <div class="container col-md-offset-3" ng-hide="vm.reservationData || vm.loading">
       <form class="form-horizontal" role="form" name="formArticle" ng-submit="vm.submitReservation()">  
          <div class="form-group">
            <label class="control-label label-reference col-md-1">Entry date</label>
            <div class="col-md-4">
                <input type="datetime-local" ng-model='vm.newReservation.entryDate' required>
            </div>
          </div>     
          <div class="form-group">
            <label class="control-label label-reference col-md-1">Departure date</label>
            <div class="col-md-4">
                <input type="datetime-local" ng-model='vm.newReservation.departureDate' required>
            </div>
          </div>        
          <div class="form-group">
            <label class="control-label label-price col-md-1">Number of people</label>
             <div class="col-md-4">
                <input type="number" step="1" class="form-control" name="numberOfPeople" placeholder="Number of people" ng-model='vm.newReservation.numberOfPeople' required>
            </div>
          </div>   
          <div class="form-group">
            <label class="control-label label-price col-md-1">Room id</label>
             <div class="col-md-4">
                <input type="number" step="1" class="form-control" name="roomId" placeholder="Room id" ng-model='vm.newReservation.roomId' required>
            </div>
          </div>  
          <div class="form-group">
            <label class="control-label label-price col-md-1">User id</label>
             <div class="col-md-4">
                <input type="number" step="1" class="form-control" name="userId" placeholder="User id" ng-model='vm.newReservation.userId' required>
            </div>
          </div>    
          <div class="form-group"> 
             <div class="col-md-offset-2 col-md-10">
               <input type="submit" class="btn btn-primary" value="Book"> 
             </div>
          </div>               
      </form>
    </div>
    <div ng-show="vm.reservationData">
        <p>The reservation has been placed!</p>
        <p>Data:</p>
        <p>Code: {{vm.reservationData.code}}</p>
        <p>Entry date: {{vm.reservationData.entryDate}}</p>
        <p>Departure date: {{vm.reservationData.departureDate}}</p>
        <p>Number of people: {{vm.reservationData.numberOfPeople}}</p>
        <p>User id: {{vm.reservationData.userId}}</p>
        <p>Room id: {{vm.reservationData.roomId}}</p>
        <p>Hours: {{vm.reservationData.hours}}</p>
        <p>Price: {{vm.reservationData.price}}</p>
        <span class="btn btn-primary" ng-click="vm.reload()">Back</span>
    </div>
    <div ng-show="vm.loading">Loading...</div>
    <div ng-show="vm.error">Error in the reservation</div>
</section>