<section>
    <div class="page-header">
		<h2>New reservation</h2>
    </div>
    <div class="container">
	    <div class="row">
	        <div class="col-md-4 text-right"><strong>Hotel:</strong></div>
	        <div class="col-md-6">{{vm.availabilitySelected.hotelName}}</div>
	    </div>
	    <div class="row">
            <div class="col-md-4 text-right"><strong>City:</strong></div>
            <div class="col-md-6">{{vm.availabilitySelected.hotelCity}}</div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right"><strong>Postal code:</strong></div>
            <div class="col-md-6">{{vm.availabilitySelected.hotelPostalCode}}</div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right"><strong>Room:</strong></div>
            <div class="col-md-6">{{vm.availabilitySelected.roomNumber}}</div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right"><strong>Room capacity:</strong></div>
            <div class="col-md-6">{{vm.availabilitySelected.roomCapacity}}</div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right"><strong>Room type:</strong></div>
            <div class="col-md-6">{{vm.availabilitySelected.roomType}}</div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right"><strong>Room services:</strong></div>
            <div class="col-md-6">{{vm.availabilitySelected.roomServices}}</div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right"><strong>Price:</strong></div>
            <div class="col-md-6">{{vm.availabilitySelected.roomPrice}}&euro;/hour</div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right"><strong>Available from:</strong></div>
            <div class="col-md-6">{{vm.availabilitySelected.slotStartDate}}</div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right"><strong>Available until:</strong></div>
            <div class="col-md-6">{{vm.availabilitySelected.slotEndDate}}</div>
        </div>
    </div>
    <div class="container" ng-hide="vm.reservationData || vm.loading">
       <form class="form-horizontal" role="form" name="formArticle" ng-submit="vm.submitReservation()">  
          <div class="form-group">
            <label class="control-label label-reference text-right col-md-4">Entry date</label>
            <div class="col-md-4">
                <input type="datetime-local" class="form-control" ng-model='vm.newReservation.entryDate' min="{{vm.getMinReservationDate()}}" max='{{vm.getMaxReservationDate()}}' step='1800' required>
            </div>
          </div>     
          <div class="form-group">
            <label class="control-label label-reference text-right col-md-4">Departure date</label>
            <div class="col-md-4">
                <input type="datetime-local" class="form-control" ng-model='vm.newReservation.departureDate' min="{{vm.getMinReservationDate()}}" max='{{vm.getMaxReservationDate()}}' step='1800' required>
            </div>
          </div>        
          <div class="form-group">
            <label class="control-label label-price text-right col-md-4">Number of people</label>
             <div class="col-md-4">
                <input type="number" step="1" min="1" max="{{vm.availabilitySelected.roomCapacity}}" class="form-control" name="numberOfPeople" placeholder="Number of people" ng-model='vm.newReservation.numberOfPeople' required>
            </div>
          </div>
          <div class="form-group"> 
             <div class="col-md-offset-4 col-md-8">
               <input type="submit" class="btn btn-primary" value="Book"> 
             </div>
          </div>               
      </form>
    </div>
    <div class="container" ng-show="vm.reservationData">
	    <div class="col-md-offset-4">
	        <h3>The reservation has been placed!</h3>
	        <p><strong>Code: {{vm.reservationData.code}}</strong></p>
	        <p><strong>Entry date: {{vm.reservationData.entryDate}}</strong></p>
	        <p><strong>Departure date: {{vm.reservationData.departureDate}}</strong></p>
	        <p><strong>Number of people: {{vm.reservationData.numberOfPeople}}</strong></p>
	        <p><strong>Hours: {{vm.reservationData.hours}}</strong></p>
	        <p><strong>Price: {{vm.reservationData.price}}&euro;</strong></p>
	        <span class="btn btn-primary" ng-click="vm.clickOnOk()">Ok</span>
	    </div>
    </div>
    <div ng-show="vm.loading">Loading...</div>
    <div ng-show="vm.error">Error in the reservation</div>
</section>