<section>
    <div class="page-header">
	    <h1>
		    Available rooms search
	    </h1>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="panel-title pull-left">
                <h4>Search filters</h4>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="pull-right center">
                <span class="clickable">
	               <button class="btn btn-warning" ng-click="vm.clearFilters()">
	                   Clear filters
	                   <span class="glyphicon glyphicon-refresh"></span>
	               </button>
                </span>
	        </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="hotelNameInput">Hotel name</label>
                        <input ng-model="vm.searchValues.hotelName" id="hotelNameInput" placeholder="Hotel Palace" class="form-control" />
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="cityInput">City</label>
                        <input ng-model="vm.searchValues.city" id="cityInput" placeholder="Madrid" class="form-control" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="postalCodeInput">Postal Code</label>
                        <input ng-model="vm.searchValues.postalCode" id="postalCodeInput" type="text" placeholder="28014" class="form-control" />
                    </div>
                </div>
            </div>
			<div class="row">
				<div class="form-group col-md-6">
					<label class="control-label label-reference col-md-1">From</label>
					<input type="datetime-local" ng-model='vm.searchValues.slotStartDate' id="slotStartDateInput" class="form-control" />
				</div>
				<div class="form-group col-md-6">
					<label class="control-label label-reference col-md-1">Until</label>
					<input type="datetime-local" ng-model='vm.searchValues.slotEndDate' id="slotEndDateInput" class="form-control" />
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-2 col-md-offset-5">
					<button class="btn btn-primary btn-lg" ng-click="vm.onClickSearchButton()">
						<span class="glyphicon glyphicon-search"></span>
						Search
					</button>
                </div>
			</div>
        </div>
    </div>
    <br/>
    <div class="panel panel-primary">
        <div class="table-responsive">
            <table class="table table-striped" ng-show="vm.availableRooms.length > 0">
                <thead>
                    <tr>
                        <th>Hotel name</th>
                        <th>City</th>
                        <th>Postal code</th>
                        <th>Room capacity</th>
                        <th>Price</th>
                        <th>Available from</th>
                        <th>Available until</th>
                        <th>Book room</th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="availableRoom in vm.availableRooms">
                        <td>{{availableRoom.hotelName}}</td>
                        <td>{{availableRoom.hotelCity}}</td>
                        <td>{{availableRoom.hotelPostalCode}}</td>
                        <td>{{availableRoom.roomCapacity}}</td>
                        <td>{{availableRoom.roomPrice}} &euro;/hour</td>
                        <td>{{availableRoom.slotStartDate}}</td>
                        <td>{{availableRoom.slotEndDate}}</td>
                        <td>
	                        <button class="btn btn-primary" ng-click="vm.bookRoom($index)">
	                        <span class="glyphicon glyphicon-calendar"></span>
	                        Book room
	                        </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="panel" ng-hide="vm.noSearch || vm.availableRooms.length > 0 || vm.error">
                <div class="panel-body text-center">
                    <strong>No available rooms found matching this criteria</strong>
                </div>
            </div>
            <div class="panel" ng-show="vm.loading">
                <div class="panel-body text-center">
                    <strong>Loading...</strong>
                </div>
            </div>
            <div class="panel" ng-show="vm.error">
                <div class="panel-body text-center">
                    <strong>Error loading available rooms</strong>
                </div>
            </div>
        </div>
    </div>
</section>